.title {
    text-align: center;
}

.content {
    display: flex;
}

.teachers,
.pm {
    flex-basis: 50%;
}

.teachers {
    background-color: darkgrey;
}

.pm {
    background-color: green;
    color: lightgray;
}